In [1]:
import pandas as pd

# Load the dataset
file_path = "C:\\Users\\DeepakArun\\Desktop\\TWC new\\Data\\Marketing App Attribution - Combined - 2023.xlsx"
sheet_name = 'Apps_NewUsers_Visits_Analysis' 
df1 = pd.read_excel(file_path, sheet_name)

In [2]:
# Drop the first 3 rows and the last row
df1 = df1.iloc[3:-1].reset_index(drop=True)

In [3]:
df1.columns

Index(['Date', 'Year', 'Month', 'iOS - Monthly Retained Users (MRU)',
       'Android - Monthly Retained Users (MRU)',
       'iOS - Monthly Active Users (MAU)',
       'Android - Monthly Active Users (MAU)',
       'iOS - Monthly New Users (MNU: MAU-MRU)',
       'Android - Monthly New Users (MNU: MAU-MRU)', 'iOS - Visits',
       'Android - Visits', 'iOS - MV/MNU', 'Android - MV/MNU', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [4]:
df1

,Date,Year,Month,iOS - Monthly Retained Users (MRU),Android - Monthly Retained Users (MRU),iOS - Monthly Active Users (MAU),Android - Monthly Active Users (MAU),iOS - Monthly New Users (MNU: MAU-MRU),Android - Monthly New Users (MNU: MAU-MRU),iOS - Visits,Android - Visits,iOS - MV/MNU,Android - MV/MNU,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,2023-01-01 00:00:00,2023.0,1.0,124535.0,178809.0,1658987.0,1510970.0,1534452.0,1332161.0,49581166.0,38761593.0,32.311969,29.096778,88342759.0,2023.0,Jan,1.046867e+09,0.084388
1,2023-02-01 00:00:00,2023.0,2.0,31009.0,157656.0,1600406.0,1473185.0,1569397.0,1315529.0,46537108.0,35932654.0,29.652859,27.314224,82469762.0,2023.0,Feb,9.739376e+08,0.084677
2,2023-03-01 00:00:00,2023.0,3.0,4126.0,222434.0,1607301.0,1575978.0,1603175.0,1353544.0,55548231.0,43109820.0,34.648888,31.849589,98658051.0,2023.0,Mar,1.180546e+09,0.083570
3,2023-04-01 00:00:00,2023.0,4.0,3339.0,143709.0,1583263.0,1525951.0,1579924.0,1382242.0,55036754.0,43249181.0,34.835064,31.289153,98285935.0,2023.0,Apr,1.202987e+09,0.081702
4,2023-05-01 00:00:00,2023.0,5.0,2489.0,114639.0,1509036.0,1440455.0,1506547.0,1325816.0,47076605.0,38089935.0,31.248016,28.729428,85166540.0,2023.0,May,1.051436e+09,0.081000
5,2023-06-01 00:00:00,2023.0,6.0,2787.0,228091.0,1534197.0,1571337.0,1531410.0,1343246.0,52480105.0,43986318.0,34.269141,32.746286,96466423.0,2023.0,Jun,1.183358e+09,0.081519
6,2023-07-01 00:00:00,2023.0,7.0,2352.0,187047.0,1489287.0,1576662.0,1486935.0,1389615.0,51650330.0,49075501.0,34.736105,35.315898,100725831.0,2023.0,Jul,1.217992e+09,0.082698
7,2023-08-01 00:00:00,2023.0,8.0,2583.0,212522.0,1485811.0,1658886.0,1483228.0,1446364.0,47389417.0,46739769.0,31.950190,32.315357,94129186.0,2023.0,Aug,1.138025e+09,0.082713
8,2023-09-01 00:00:00,2023.0,9.0,1588.0,117126.0,1422355.0,1533757.0,1420767.0,1416631.0,40336534.0,37316190.0,28.390675,26.341503,77652724.0,2023.0,Sep,9.731272e+08,0.079797
9,2023-10-01 00:00:00,2023.0,10.0,1365.0,114082.0,1379266.0,1497990.0,1377901.0,1383908.0,40937035.0,38372385.0,29.709707,27.727555,79309420.0,2023.0,Oct,9.847071e+08,0.080541
10,2023-11-01 00:00:00,2023.0,11.0,1093.0,161974.0,1308857.0,1471198.0,1307764.0,1309224.0,34017960.0,33667041.0,26.012308,25.715264,67685001.0,2023.0,Nov,8.206944e+08,0.082473
11,2023-12-01 00:00:00,2023.0,12.0,1160.0,130773.0,1300256.0,1499554.0,1299096.0,1368781.0,34792591.0,36098455.0,26.782155,26.372703,70891046.0,2023.0,Dec,8.484244e+08,0.083556

In [5]:
# List of columns to subset
columns_to_subset = [
    'Month', 'iOS - MV/MNU', 'Android - MV/MNU'
    
]

# Subsetting the DataFrame
df2 = df1[columns_to_subset]

In [6]:
df2

    Month  iOS - MV/MNU  Android - MV/MNU
0     1.0     32.311969         29.096778
1     2.0     29.652859         27.314224
2     3.0     34.648888         31.849589
3     4.0     34.835064         31.289153
4     5.0     31.248016         28.729428
5     6.0     34.269141         32.746286
6     7.0     34.736105         35.315898
7     8.0     31.950190         32.315357
8     9.0     28.390675         26.341503
9    10.0     29.709707         27.727555
10   11.0     26.012308         25.715264
11   12.0     26.782155         26.372703

In [7]:
df2['iOS - MV/MNU'] = df2['iOS - MV/MNU'].round(2)
df2['Android - MV/MNU'] = df2['Android - MV/MNU'].round(2)

C:\Users\DeepakArun\AppData\Local\Temp\ipykernel_26696\420666986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['iOS - MV/MNU'] = df2['iOS - MV/MNU'].round(2)
C:\Users\DeepakArun\AppData\Local\Temp\ipykernel_26696\420666986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Android - MV/MNU'] = df2['Android - MV/MNU'].round(2)

In [8]:
import pandas as pd

# Load the dataset
file_path = "C:\\Users\\DeepakArun\\Desktop\\Data\\Data_for_MMM.csv"
df = pd.read_csv(file_path)

In [9]:
# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

# Extract the month from the 'Date' column and add it as a new column
df['Month'] = df['Date'].dt.month

# Merge df1 and df2 based on the 'Month' column
df_merged = pd.merge(df, df2, on='Month', how='left')

In [10]:
df_merged

,Date,SEM_Google_Spend,SEM_Google_Clicks,SEM_Google_Impressions,Preload_IronSource_Aura_Spend,Preload_IronSource_Aura_launches,Preload_IronSource_Aura_impressions,Preload_IronSource_Aura_app_downloads,Programmatic_Bidease_Spend,Programmatic_Bidease_Clicks,...,Realibality,Accuracy,NPS,Positive impact on community,Positive impact on well being,Brand_Spend,Brand_Impressions,Month,iOS - MV/MNU,Android - MV/MNU
0,2021-09-01,3804.96239,9901,188201,624.100,1327,26044,2657,83.9500,1,...,0.85,0.83,19,0.58,0.61,0.000000,0,9,28.39,26.34
1,2021-09-02,1956.52158,5170,111238,919.240,1286,39147,3625,69.0000,0,...,0.85,0.83,19,0.58,0.61,0.000000,0,9,28.39,26.34
2,2021-09-03,1750.51233,4550,92859,914.550,1245,39039,3572,109.2500,1,...,0.85,0.83,19,0.58,0.61,0.000000,0,9,28.39,26.34
3,2021-09-04,1772.30789,4723,93066,927.030,1315,34922,3581,96.6000,0,...,0.85,0.83,19,0.58,0.61,0.000000,0,9,28.39,26.34
4,2021-09-05,1881.71183,5030,96904,676.350,1365,29773,2464,88.5500,0,...,0.85,0.83,19,0.58,0.61,0.000000,0,9,28.39,26.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,2024-05-27,1588.62000,5939,61598,1.215,9,1,0,342.5684,1050340,...,0.00,0.82,20,0.00,0.00,16849.711450,751837,5,31.25,28.73
1000,2024-05-28,1693.09000,6193,61968,1.338,7,1,0,323.5924,1073381,...,0.00,0.82,20,0.00,0.00,13381.335270,702495,5,31.25,28.73
1001,2024-05-29,1375.92000,4638,52527,0.832,7,1,1,410.5518,985535,...,0.00,0.82,20,0.00,0.00,8030.169262,669112,5,31.25,28.73
1002,2024-05-30,607.03000,1470,22529,0.607,3,3,0,455.5616,1154109,...,0.00,0.82,20,0.00,0.00,15663.747400,975435,5,31.25,28.73
1003,2024-05-31,67.00000,515,2821,1.378,7,0,1,0.0000,1046577,...,0.00,0.82,20,0.00,0.00,12322.387440,884931,5,31.25,28.73

In [11]:
df_merged.columns

Index(['Date', 'SEM_Google_Spend', 'SEM_Google_Clicks',
       'SEM_Google_Impressions', 'Preload_IronSource_Aura_Spend',
       'Preload_IronSource_Aura_launches',
       'Preload_IronSource_Aura_impressions',
       'Preload_IronSource_Aura_app_downloads', 'Programmatic_Bidease_Spend',
       'Programmatic_Bidease_Clicks', 'Programmatic_Bidease_Impressions',
       'Preload_Digital_Turbine_Spend', 'Preload_Digital_Turbine_launches',
       'Preload_Digital_Turbine_impressions',
       'Preload_Digital_Turbine_app_downloads', 'Programmatic_Tapjoy_Spend',
       'Programmatic_Tapjoy_Clicks', 'Programmatic_Tapjoy_Impressions',
       'SEM_Apple_Search_Ads_Spend', 'SEM_Apple_Search_Ads_Clicks',
       'SEM_Apple_Search_Ads_Impressions', 'Programmatic_LiftOff_Spend',
       'Programmatic_LiftOff_Clicks', 'Programmatic_LiftOff_Impressions',
       'Programmatic_IronSource_Sonic_Spend',
       'Programmatic_IronSource_Sonic_Clicks',
       'Programmatic_IronSource_Sonic_Impressions', 'PaidSocial_Twitter_Spend',
       'PaidSocial_Twitter_Clicks', 'PaidSocial_Twitter_Impressions',
       'Programmatic_TikTok_Spend', 'Programmatic_TikTok_Clicks',
       'Programmatic_TikTok_Impressions', 'PaidSocial_Vibe_Spend',
       'PaidSocial_Vibe_Clicks', 'PaidSocial_Vibe_Impressions',
       'Programmatic_Persona.ly_Spend', 'Programmatic_Persona.ly_Clicks',
       'Programmatic_Persona.ly_Impressions', 'SocialEng_Facebook_Impressions',
       'SocialEng_Facebook_Total_Engagements',
       'SocialEng_Facebook_Estimated_Clicks', 'SocialEng_LinkedIn_Impressions',
       'SocialEng_LinkedIn_Total_Engagements',
       'SocialEng_LinkedIn_Estimated_Clicks', 'SocialEng_YouTube_Impressions',
       'SocialEng_YouTube_Total_Engagements',
       'SocialEng_YouTube_Estimated_Clicks', 'SocialEng_Instagram_Impressions',
       'SocialEng_Instagram_Total_Engagements',
       'SocialEng_Instagram_Estimated_Clicks', 'SocialEng_Twitter_Impressions',
       'SocialEng_Twitter_Total_Engagements',
       'SocialEng_Twitter_Estimated_Clicks', 'SocialEng_TikTok_Impressions',
       'SocialEng_TikTok_Total_Engagements', 'OrganicSearch_Google_Clicks',
       'OrganicSearch_Google_Impressions', 'OrganicSearch_Google_Position',
       'Overall_Product_Visits', 'US Weather Impact Rating',
       'EventsCamp/Vend_Campaign_Flag', 'EventsCamp/Vend_Campaign/Vendor(s)',
       'Critical_Event_Flag', 'Overall_Visits_Critical_Event_Flag',
       'Installs_Critical_Event_Flag', 'Visits_Critical_Event_Flag',
       'Event_Name', 'MobileWeb_TWC Mobile Web_Visits',
       'Apps_TWC Universal Android 4G+_Visits',
       'Apps_TWC Universal iOS 4G+_Visits', 'Web_TWC Web_Visits',
       'Overall_Web_Visits', 'Twitter_TikTok_Combined_Spend',
       'Twitter_TikTok_Combined_Clicks', 'Twitter_TikTok_Combined_Impressions',
       'Influencer_Spend', 'Influencer_Daily_Impressions',
       'Total_App_Installs', 'Usage', 'Preference', 'Seen as experts',
       'Net Favorability', 'Net Trust', 'Realibality', 'Accuracy', 'NPS',
       'Positive impact on community', 'Positive impact on well being',
       'Brand_Spend', 'Brand_Impressions', 'Month', 'iOS - MV/MNU',
       'Android - MV/MNU'],
      dtype='object')

In [12]:
df3 = df_merged.copy()
df3['iOS_New_Users_Computed']= df3['Apps_TWC Universal iOS 4G+_Visits']/df3['iOS - MV/MNU']
df3['Android_New_Users_Computed']= df3['Apps_TWC Universal Android 4G+_Visits']/df3['Android - MV/MNU']

In [13]:
df3['App_New_Visits'] = df3['iOS_New_Users_Computed']+df3['Android_New_Users_Computed']

In [15]:
df3.to_csv('C:\\Users\\DeepakArun\\Desktop\\Data\\App_New_Users_Data.csv')